Source: garen-ohmwrecker
Section: metapackages
Priority: extra
Maintainer: Angel Berlanas Vicente <angel.berlanas@gmail.com>
Build-Depends: debhelper (>=9), unzip, python3-dev, dh-python
Standards-Version: 3.9.7

Package: garen-ohmwrecker
Architecture: all
Pre-Depends: python3-pip
Depends: ${misc:Depends}, apache2
Description: iot - carry
 Simple package to solve the Estonian 
 problem.

